/* подключение локальный шрифтов на страницу */
@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    display: swap;
}

* {
    box-sizing: border-box;
}

html {
    min-width: 375px;
}

/* сброс стилей по умолчанию */
body,h1,h2,h3,p,ul,li {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

/* задание шрифта всей странице */
body {
    font-family: "Anonymous Pro", sans-serif;
}

/* стили для главного контейнера */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F1;
}

/* стили для хедера(шапки) сайта */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #A1A6B4;
    background: white;
}


.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 24px 0 ;
}

.logo-link {
    max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: #121723;
    font-size: 20px;
    font-weight: 700;
}

/* стили для  */
.content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 32px 0;
    max-width: 1140px;
}

h1 {
    font-size: 48px;
    margin: 0 0 32px 0;
}

/* стили для контейнера кроссовок */
.sneakers {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

/* стили для карточки кроссовок */
.sneaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 364px;
    border-radius: 12px;
    background: white;
}

.sneaker-image {
    max-width: 100%;
    height: auto;
    width: auto;
}

.sneaker-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 32px 24px;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 20px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121723;
}

/* стили для футера */
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 32px 0;

}

.footer__logo-link {
    max-width: 300px;
    width: 100%;
}

footer .nav-link {
    color: white;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1140px;
    border-top: 1px solid #A1A6B4;    
}

.copyright-text {
    color: #A1A6B4;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
}

.main__content {
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.sneaker__big {
    display: flex;
    width: 80%;
    padding: 3.3vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2vw;

    border-radius: 50px;
    background: #FFF;
}

.sneaker__big-image {
    border-radius: 50px 50px 0px 0px;

    align-self: center;
    max-height: 100%;
    min-height: 172px;
    max-width: 100%;
    min-width: 295px;
}

.sneaker__big-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7vw;
    align-self: stretch;
}

.sneaker__big-name {
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.sneaker__big-type {
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.sneaker__big-additional-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.2vw;
    align-self: stretch;
}

.sneaker__big-company-info {
    flex: 1 0 0;
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2vw;
}

.sneaker__big-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.sneaker__big-about-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4vw;
    border-bottom: 1px black solid;
    padding: 1.7vw  0 1.7vw 0;
}

@media screen and (max-width: 1180px)  {
    .header-container {
        flex-direction: column;
        margin: 24px auto ;
    }
    
    .logo-link {
        align-self: center;
    }

    .header-container nav {
        margin-top: 14px;
        align-self: center;
    }

}

@media screen and (max-width: 1400px)  {
    .footer-content{
        flex-direction: column;
        margin: 24px auto ;
    }
    
    .footer__logo-link{
        align-self: center;
    }

    .footer-content nav {
        margin-top: 14px;
        align-self: center;
    }

        .copyright {
        width: 300px;
    }
}

@media screen and (max-width: 1157px) {
    .collection {
        align-self: center;
    }
}

@media  screen and (max-width: 769px) {
    .collection {
        width: 335px;
    }
}

@media  screen and (max-width: 750px) {
    h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 376px) {
    .sneaker {
        width: 343px;
    }
}

.sneaker:hover{
    -webkit-box-shadow: 15px 15px 45px 14px rgba(69, 69, 69, 0.12);
           -moz-box-shadow: 15px 15px 45px 14px rgba(69, 69, 69, 0.12);
                	box-shadow: 15px 15px 45px 14px rgba(69, 69, 69, 0.12);
}

@media screen and (max-width: 769px) {
    .sneaker__big-additional-info {
        display: block;
    }

    .sneaker__big {
        padding: 24px;
    }
}
